@import "tailwindcss";

/** FONT FAMILIES **/
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/** GLOBAL STYLES **/
body {
  background-color: #e9d5ff; /* purple-200*/
  color: #fff; /* Default text color */
  font-family: "Barlow", sans-serif;
}
/**  text highlight orange color */
.text-highlight {
  color: #ff6f61; 
}
/* Secondary text color  on white background */
.text-secondary {
    color: #364153;  /** gray 700*/
}

/** a purple gradient background */
.bg-gradient {
  background: linear-gradient(to bottom, #6b21a8, #430e6b);
}
/* 
.oval-shape {
  clip-path: ellipse(50% 40% at 50% 50%);
}

.trapezium-shape {
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
} */


