@import "tailwindcss";

/** FONT FAMILIES **/
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/** COLORS */
:root {
  --primary: #1e2939;
  --secondary: #99a1af;
  --accent: #ff6f61; /** orange 500  */
}



/** GLOBAL STYLES **/
body {
  background-color: #f9fafb; /* purple-200*/
  color: #fff; /* Default text white color */
  font-family: "Barlow", sans-serif;
}

/**  text highlight orange color */
.text-highlight {
  color: var(--accent); 
}

/* Secondary text color  on white background */
.text-secondary {
    color: var(--secondary);  /** gray 700*/
}

/** a royal blue gradient background */
.bg-gradient {
  background: linear-gradient(to bottom, #673ab7, #512da8);
}

/** --------- purple background ------------*/
.bg-new {
  background: linear-gradient(to bottom, #6b21a8, #430e6b);
}


