@import "tailwindcss";

/* FONT FAMILIES **/
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* COLORS */
:root {
  --primary-gray: #1e2939;
  --secondary: #99a1af;
  --brand: #3b0d70; /* Purple 900 */
  --accent: #ff6f61; /* orange 500  */
  --brand-bg: #ede9fe; /* purple 100 */
}

@theme {
  --color-accent: #ff6f61; /* orange 500 */
  --color-brand: #3b0d70; /* Purple 900 */
  --color-primary-gray: #1e2939;
  --color-secondary: #99a1af;
  --color-brand-bg: #ede9fe; /* purple 100 */
}

/* GLOBAL STYLES **/

/* a royal blue gradient background */
.bg-gradient {
  background: linear-gradient(to bottom, #673ab7, #512da8);
}

body {
  background-color: var(--brand-bg); /* purple-200*/
  color: #fff;
  font-family: "Barlow", sans-serif;
}
button,
a {
  cursor: pointer;
}
.clip-slant {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

/* SCROLL BAR COLOR CUSTOMIZATION [EXPLORE SERVICES PAGE] FOR ALL BROWSERS**/
.select-dropdown-scrollbar::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

.select-dropdown-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* track color */
  border-radius: 10px;
}

.select-dropdown-scrollbar::-webkit-scrollbar-thumb {
  background: var(--accent); /* thumb color*/
  border-radius: 10px;
}

.select-dropdown-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

/* Firefox */
.select-dropdown-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) rgba(255, 255, 255, 0.1);
}
