/* src/components/BackToTop.css */

/* Styling for Back to Top button */
.back-to-top {
    position: fixed;
    bottom: 10px; /* Adjust position as needed */
    right: 25px; /* Adjust position as needed */
    width: 40px;
    height: 40px;
    background-color: #ff6f61;
    color: #fff;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    z-index: 1000; /* Ensure button stays on top */
  }
  
  .back-to-top i.arrow-up {
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .back-to-top:hover {
    background-color: #ff6f61;
  }
