/* Contact Section */
.contact {
  padding: 60px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}

.contact-content,
.contact-details {
  flex: 1 1 400px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-content h2,
.contact-details h3 {
  font-size: 2em;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #673ab7, #512da8); /* Apply gradient background to text */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-content p,
.contact-details p {
  font-size: 1.2em;
  line-height: 1.6;
}

.contact-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-content input {
  width: 100%;
  padding: 10px;
  border: 4px solid #bbb;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 1em;
}

.contact-content input:focus {
  border: 4px solid #bbb;
  outline: none;
}

.contact-content textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  border: 4px solid #bbb;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 1em;
}

.contact-content textarea:focus {
  border: 4px solid #bbb;
  outline: none;
}

.contact-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #ff6f61;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-content button:hover {
  background: #f58278;
}

.contact-details {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.contact-details h3 {
  margin-bottom: 10px;
}

/* Icon Styling */
.contact-details .icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #ff6f61; /* Round border with specified color */
  background-color: #f4a261; /* Added background color */
  color: #ff6f61; /* Icon color */
  fill: currentColor; /* Ensures the fill color matches the 'color' property */
  font-size: 1.5em;
  margin-bottom: 10px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.contact-details .icon:hover {
  transform: scale(1.1); /* Slightly increase size on hover */
  background-color: #ff6f61; /* Change background color on hover */
  color: #fff; /* Change icon color on hover */
}

.contact-details p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and text */
}

/* Responsive Styling */
@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    text-align: center;
  }

  .contact-content,
  .contact-details {
    max-width: 100%;
  }

  .contact-content form {
    gap: 10px;
  }

  .contact-details {
    margin: 30px auto;
  }
}
